<div class="col-xs-6" >
  <div class="card card-signup padding-top" >
	<form class="form" method="" action="">
		<div class="header header-info text-center">
			<h4>Liberal-Leaning</h4>
			
		</div>
		
	</form>
  </div>         
</div>

<div class="col-xs-6" >
	<div class="card card-signup padding-top">
		<form class="form" method="" action="">
			<div class="header header-primary text-center">
				<h4>Conservative-Leaning</h4>
				
			</div>
		</form>
	</div>
</div>
