<ul class="nav nav-pills nav-pills-info " role="tablist" >
    
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#guncontrol" data-toggle="tab" ui-sref="guncontrol"><i class="material-icons">vpn_key</i>Gun Control</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#trump" data-toggle="tab" ui-sref="trump"><i class="material-icons">group_add</i>Trump</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#trump" data-toggle="tab" ui-sref="trump"><i class="material-icons">hot_tub</i>Death Penalty</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#economics" data-toggle="tab" ui-sref="economics"><i class="material-icons">monetization_on</i>Economics</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#abortion" data-toggle="tab" ui-sref="abortion"><i class="material-icons">face</i>Abortion</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#taxes" data-toggle="tab" ui-sref="taxes"><i class="material-icons">multiline_chart</i>Taxes</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#immigration" data-toggle="tab" ui-sref="immigration"><i class="material-icons">account_balance</i>Immigration</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#foreignpolicy" data-toggle="tab" ui-sref="foreignpolicy"><i class="material-icons">flight_takeoff</i>Foreign Policy</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#climatechange" data-toggle="tab" ui-sref="climatechange"><i class="material-icons">vpn_lock</i>Climate Change</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#healthcare" data-toggle="tab" ui-sref="healthcare"><i class="material-icons">wc</i>Health Care</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#lgbtreligious" data-toggle="tab" ui-sref="lgbtreligious"><i class="material-icons">people_outline</i>LGBT & Religious Rights</a>
    </li>
    <li class="col-md-1 col-xs-4"><a role="tab" data-target="#trump" data-toggle="tab" ui-sref="trump"><i class="material-icons">directions_run</i>Criminal Justice</a>
    </li>
<!--     
    <li class="col-md-1 col-xs-4"><a ng-click=" filter1.category = 'ea43ad4a-64d3-11e6-812b-842b2b482ce2'; filter2.category = 'd5e6f190-64d3-11e6-9d20-842b2b6f7849'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">directions_run</i>Criminal Justice</a>
    </li>  -->
</ul>