<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
    		<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">NEWANCED</a>
	</div>

	<div class="collapse navbar-collapse" id="navigation-example">
		<ul class="nav navbar-nav navbar-right">
			
			<li>
				<a data-toggle="popover" data-placement="bottom" title="An Amazing Site!" data-content="This site was created to help people get the latest articles to support your opinion or open your mind to other ideas. (Hopefully the latter)">
					<i class="material-icons">chat_bubble_outline</i> What Is This?
				</a>
			</li>
            
		</ul>
	</div>
</nav>