<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="javascripts/angularapp.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="mainCtrl">
  <div class="container">
  <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">

<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="/">NEWANCED</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
					
    				<li>
						<a data-toggle="popover" data-placement="bottom" title="An Amazing Site!" data-content="This site was created to help people get the latest articles to support your opinion or open your mind to other ideas. (Hopefully the latter)">
							<i class="material-icons">chat_bubble_outline</i> What Is This?
						</a>
    				</li>
		            
        		</ul>
        	</div>
    	</div>
    </nav>



 <div class="wrapper"> 



	<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1463579934088-98fe605ed062?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8b258745b699901b111c4a662646d5ec');">
		<div class="col-xs-8 ">
            <h1 class="brand-heading">Get the latest articles from both sides of the aisle</h1>
           <!--  <p class="intro-text">A free, responsive, one page Bootstrap theme.
                <br>Created by Start Bootstrap.</p> -->
            <!-- <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a> -->
        </div>
<!-- 		<div style="padding: 200px; color: #fff; text-align: center;"><h1>Big Title Here</h1></div> -->
	</div>




	

    <div class="main main-raised">
    	
		    <ul class="nav nav-pills nav-pills-info " role="tablist" >
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '2caf72f6-3bba-11e6-877f-782bcb11749d'; filter2.category = '30e61230-3bba-11e6-8b89-842b2b5a33d6' " role="tab" data-toggle="tab"><i class="material-icons">vpn_key</i>Gun Control</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'f97aa432-3bb9-11e6-be01-782bcb102f71'; filter2.category = 'fe6b8fe2-3bb9-11e6-877f-782bcb11749d' " role="tab" data-toggle="tab"><i class="material-icons">hot_tub</i>Death Penalty</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '7ba83050-3bba-11e6-be02-782bcb102f71'; filter2.category = '81ec195e-3bba-11e6-a82b-782bcb10ee8c' " role="tab" data-toggle="tab"><i class="material-icons">group_add</i>Presidential Race</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '09007af8-3bba-11e6-bd3c-842b2b5a30e0'; filter2.category = '0fbe7e44-3bba-11e6-bb95-782bcb10f569' " role="tab" data-toggle="tab"><i class="material-icons">monetization_on</i>Economics</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'c3be12a2-3bb9-11e6-bb95-782bcb10f569'; filter2.category = '613dd168-3b31-11e6-bb4d-782bcb10f569' " role="tab" data-toggle="tab"><i class="material-icons">face</i>Abortion</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '77fac5ca-3bbb-11e6-9bdc-842b2b6f7849'; filter2.category = '71d5c898-3bbb-11e6-bfc5-842b2b482ce2' " role="tab" data-toggle="tab"><i class="material-icons">multiline_chart</i>Taxes</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a  ng-click="filter1.category = '64bd0758-3bba-11e6-bd3d-842b2b5a30e0'; filter2.category = '5f826cd8-3bba-11e6-877f-782bcb11749d' " role="tab" data-toggle="tab"><i class="material-icons">account_balance</i>Immigration</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '2434b7f8-3bba-11e6-877f-782bcb11749d'; filter2.category = '1e902a26-3bba-11e6-8b89-842b2b5a33d6' " role="tab" data-toggle="tab"><i class="material-icons">flight_takeoff</i>Foreign Policy</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'd63b6d9e-3bb9-11e6-bfc3-842b2b482ce2'; filter2.category = 'cda03552-3bb9-11e6-bfc3-842b2b482ce2' " role="tab" data-toggle="tab"><i class="material-icons">vpn_lock</i>Climate Change</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '456af554-3bba-11e6-bb95-782bcb10f569'; filter2.category = '4de58cda-3bba-11e6-bfc5-842b2b482ce2' " role="tab" data-toggle="tab"><i class="material-icons">wc</i>Health Care</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '9624e0cc-3bba-11e6-877f-782bcb11749d'; filter2.category = 'd17a9482-3bba-11e6-b88c-782bcb103767' " role="tab" data-toggle="tab"><i class="material-icons">people_outline</i>LGBT & Religious Rights</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'ee43b16c-3bb9-11e6-a82b-782bcb10ee8c'; filter2.category = 'e32d826c-3bb9-11e6-9bdb-842b2b6f7849' " role="tab" data-toggle="tab"><i class="material-icons">directions_run</i>Criminal Justice</a>
			    </li>
			</ul>
		<div class="container">


		<div class="col-xs-6">



<div class="card card-signup padding-top">
							<form class="form" method="" action="">
								<div class="header header-info text-center">
									<h4>Liberal-Leaning</h4>
									
								</div>
								
							</form>
						</div>

		    <div ng-repeat="post in allData | orderBy: 'publishedAt':true | filter:filter1 ">
		    	

					<div class="card card-blog">
						
						<div class="card-image">
							<a href="/posts/{{post._id}}">
								<img class="img img-raised" src="{{post.photo}}" ng-show="post.photo">
							</a>
						</div>
						<div class="content">
							<h6 class="category text-info-liberal">{{categoryFunction(post)}}</h6>
							<h4 class="card-title">
								<a href="/posts/{{post._id}}">{{post.title}}</a>
							</h4>
							<p class="card-description"  >
								{{post.content | limitTo:250 | stripTags }}<a href="/posts/{{post._id}}"> Read More </a>
							</p>
						</div>
					</div>
		    </div>
		    </div>
		    <div class="col-xs-6">

		    <div class="card card-signup padding-top">
							<form class="form" method="" action="">
								<div class="header header-primary text-center">
									<h4>Conservative-Leaning</h4>
									
								</div>
								
							</form>
						</div>
		       <div ng-repeat="post in allData | orderBy: 'publishedAt':true | filter:filter2 ">
		    	

					<div class="card card-blog">
						
						<div class="card-image">
							<a href="/posts/{{post._id}}">
								<img class="img img-raised" src="{{post.photo}}" ng-show="post.photo" >
							</a>
						</div>
						<div class="content">
							<h6 class="category text-info-conservative">{{categoryFunction(post)}}</h6>
							<h4 class="card-title">
								<a href="/posts/{{post._id}}">{{post.title}}</a>
							</h4>
							<p class="card-description"  >
								{{post.content | limitTo:250 | stripTags }}<a href="/posts/{{post._id}}"> Read More </a>
							</p>
						</div>
					</div>
		    	</div>
		    </div>
		</div>    
	</div>
</div>
  </body>
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src="javascripts/script.js"></script>
   <script src="javascripts/material.min.js"></script>
   <script src="javascripts/material-kit.js"></script>
</html>
