<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>

	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="mainCtrl">
  <div class="container">
  <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">

<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="/">NEWANCED</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
					
    				<li>
						<a data-toggle="popover" data-placement="bottom" title="An Amazing Site!" data-content="This site was created to help people get the latest articles to support your opinion or open your mind to other ideas. (Hopefully the latter)">
							<i class="material-icons">chat_bubble_outline</i> What Is This?
						</a>
    				</li>
		            
        		</ul>
        	</div>
    	</div>
    </nav>




 <div class="wrapper"> 



	<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1463579934088-98fe605ed062?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8b258745b699901b111c4a662646d5ec');">
		<div class="col-xs-8 ">
            <h1 class="brand-heading">Get the latest articles from both sides of the aisle</h1>
           <!--  <p class="intro-text">A free, responsive, one page Bootstrap theme.
                <br>Created by Start Bootstrap.</p> -->
            <!-- <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a> -->
        </div>
<!-- 		<div style="padding: 200px; color: #fff; text-align: center;"><h1>Big Title Here</h1></div> -->
	</div>




	

    <div class="main main-raised">
    	
		    <ul class="nav nav-pills nav-pills-info " role="tablist" >
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '3d29b0dc-64d3-11e6-812b-842b2b482ce2'; filter2.category = '34f02a7c-64d3-11e6-9ebd-842b2b5a2688'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">vpn_key</i>Gun Control</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '7b5673e4-8694-11e6-bdcd-842b2b5a30e0'; filter2.category = 'cee13c52-8693-11e6-8e98-842b2b5a33d6'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">hot_tub</i>Death Penalty</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'fa480a28-64d4-11e6-812b-842b2b482ce2'; filter2.category = '783c020a-64d4-11e6-812b-842b2b482ce2'; catFactory.page1(); catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">group_add</i>Trump</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'f14fd902-64d2-11e6-bf72-782bcb102f71'; filter2.category = 'dfa4346e-64d2-11e6-a98f-782bcb10ee8c'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">monetization_on</i>Economics</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '06041a78-8695-11e6-be97-782bcb10f569'; filter2.category = 'fdeb488e-8694-11e6-9e8d-842b2b6f7849'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">face</i>Abortion</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'a5d71e44-8693-11e6-9efe-842b2b5a2688'; filter2.category = '8f889fe6-8693-11e6-80c5-782bcb102f71'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">multiline_chart</i>Taxes</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a  ng-click="filter1.category = '8f3b496c-64d3-11e6-bd1d-782bcb10f569'; filter2.category = '7fe05f0c-64d3-11e6-812b-842b2b482ce2'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">account_balance</i>Immigration</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'fc226a0e-868b-11e6-8a2c-782bcb11749d'; filter2.category = 'f4111e50-868b-11e6-9e8d-842b2b6f7849'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">flight_takeoff</i>Foreign Policy</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'bd550fe4-8694-11e6-be97-782bcb10f569'; filter2.category = 'ae5bb6d2-8694-11e6-80c5-782bcb102f71'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">vpn_lock</i>Climate Change</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '95740892-64d2-11e6-9ebd-842b2b5a2688'; filter2.category = '76ece312-64d2-11e6-8d27-842b2b5a33d6'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">wc</i>Health Care</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = '3615ddba-64d4-11e6-9d20-842b2b6f7849'; filter2.category = '28bc3f42-64d4-11e6-8d27-842b2b5a33d6'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">people_outline</i>LGBT & Religious Rights</a>
			    </li>
			    <li class="col-md-1 col-xs-4"><a ng-click="filter1.category = 'ea43ad4a-64d3-11e6-812b-842b2b482ce2'; filter2.category = 'd5e6f190-64d3-11e6-9d20-842b2b6f7849'; catFactory.page1() " role="tab" data-toggle="tab"><i class="material-icons">directions_run</i>Criminal Justice</a>
			    </li>
			</ul>


			
			  <div infinite-scroll='catFactory.nextPage("{{filter1.category}}")' infinite-scroll-disabled='catFactory.busy' infinite-scroll-distance='1'>
			    <div class="col-xs-6" >
			    <div class="card card-signup padding-top" >
					<form class="form" method="" action="">
						<div class="header header-info text-center">
							<h4>Liberal-Leaning</h4>
							
						</div>
						
					</form>
				</div>
			    <div ng-repeat='post in catFactory.items | filter:filter1'>

			    	<div class="card card-blog">
						
						<div class="card-image">
							<a href="/posts/{{post._id}}">
								<img class="img img-raised" src="{{post.photo}}" ng-show="post.photo">
							</a>
						</div>
						<div class="content">
							<h6 class="category text-info-liberal">{{categoryFunction(post)}}</h6>
							<h4 class="card-title">
								<a href="{{post.link}}">{{post.title}}</a>
							</h4>
							<p class="card-description"  >
								{{post.content | limitTo:250 | stripTags }}<a href="/posts/{{post._id}}"> Read More </a>
							</p>
						</div>
					</div>

			   <!--    <span class='score'>{{item.score}}</span>
			      <span class='title'>
			        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
			      </span>
			      <small>by {{item.author}} -
			        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
			      </small> -->
			      <div style='clear: both;'></div>
			    </div>
			    <div ng-show='catFactory.busy'>Loading data...</div>
			  </div>
			  </div>

			  <div infinite-scroll='catFactory.nextPage("{{filter2.category}}")' infinite-scroll-disabled='catFactory.busy' infinite-scroll-distance='1'>
			    <div class="col-xs-6" >
			    <div class="card card-signup padding-top">
							<form class="form" method="" action="">
								<div class="header header-primary text-center">
									<h4>Conservative-Leaning</h4>
									
								</div>
								
							</form>
						</div>
			    <div ng-repeat='post in catFactory.items | filter:filter2'>

			    	<div class="card card-blog">
						
						<div class="card-image">
							<a href="/posts/{{post._id}}">
								<img class="img img-raised" src="{{post.photo}}" ng-show="post.photo">
							</a>
						</div>
						<div class="content">
							<h6 class="category text-info-conservative">{{categoryFunction(post)}}</h6>
							<h4 class="card-title">
								<a href="{{post.link}}">{{post.title}}</a>
							</h4>
							<p class="card-description"  >
								{{post.content | limitTo:250 | stripTags }}<a href="/posts/{{post._id}}"> Read More </a>
							</p>
						</div>
					</div>

			   <!--    <span class='score'>{{item.score}}</span>
			      <span class='title'>
			        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
			      </span>
			      <small>by {{item.author}} -
			        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
			      </small> -->
			      <div style='clear: both;'></div>
			    </div>
			    <div ng-show='catFactory.busy'>Loading data...</div>
			  </div>
			  </div>



			</div>

		<!-- <div class="container" >


			<div class="col-xs-6" >

				<div class="card card-signup padding-top" >
					<form class="form" method="" action="">
						<div class="header header-info text-center">
							<h4>Liberal-Leaning</h4>
							
						</div>
						
					</form>
				</div>
				<div class="" infinite-scroll="addMore()"  infinite-scroll='1'>
			    <div ng-repeat="post in allData | filter:filter1 " >
			    	

					<div class="card card-blog">
						
						<div class="card-image">
							<a href="/posts/{{post._id}}">
								<img class="img img-raised" src="{{post.photo}}" ng-show="post.photo">
							</a>
						</div>
						<div class="content">
							<h6 class="category text-info-liberal">{{categoryFunction(post)}}</h6>
							<h4 class="card-title">
								<a href="{{post.link}}">{{post.title}}</a>
							</h4>
							<p class="card-description"  >
								{{post.content | limitTo:250 | stripTags }}<a href="/posts/{{post._id}}"> Read More </a>
							</p>
						</div>
					</div>
					</div>
			    </div>
		    </div>
		    <div class="col-xs-6" >

		    <div class="card card-signup padding-top">
							<form class="form" method="" action="">
								<div class="header header-primary text-center">
									<h4>Conservative-Leaning</h4>
									
								</div>
								
							</form>
						</div>
				<div class="" infinite-scroll="addMore()"  infinite-scroll='1'
				>
		       <div ng-repeat="post in allData | filter:filter2 ">
		    	

					<div class="card card-blog">
						
						<div class="card-image">
							<a href="/posts/{{post._id}}">
								<img class="img img-raised" src="{{post.photo}}" ng-show="post.photo" >
							</a>
						</div>
						<div class="content">
							<h6 class="category text-info-conservative">{{categoryFunction(post)}}</h6>
							<h4 class="card-title">
								<a href="{{post.link}}">{{post.title}}</a>
							</h4>
							<p class="card-description"  >
								{{post.content | limitTo:250 | stripTags }}<a href="/posts/{{post._id}}"> Read More </a>
							</p>
						</div>
					</div>
		    	</div>
		    	</div>
		    </div>
		</div>  -->   
	</div>
</div>
  </body>

  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="javascripts/angularapp.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type='text/javascript' src='javascripts/ng-infinite-scroll.min.js'></script>
   <script src="javascripts/script.js"></script>
   <script src="javascripts/material.min.js"></script>
   <script src="javascripts/material-kit.js"></script>
</html>
