<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <% include partials/_header %>
  </head>

  <body ng-controller="mainCtrl">

    <div class="container">
  		<% include partials/_navBar %>
    </div>

	<div class="wrapper"> 

		<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1463579934088-98fe605ed062?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8b258745b699901b111c4a662646d5ec');">
			<div class="col-xs-8 ">
	            <h1 class="brand-heading">Get the latest articles from both sides of the aisle</h1>

	        </div>
		</div>

	    <div class="main main-raised">    	
			<% include partials/_categoryList %>
		    <% include partials/_catHeaders %>

		    <ui-view></ui-view>

			<script type="text/ng-template" id="/trump.html">
		            <% include partials/_posts %>
			</script>
		    <script type="text/ng-template" id="/deathpenalty.html">
		            <% include partials/_posts %>
			</script>
			<script type="text/ng-template" id="/criminaljustice.html">
		            <% include partials/_posts %>
			</script>
		    <script type="text/ng-template" id="/lgbtreligious.html">
		            <% include partials/_posts %>
			</script>
			<script type="text/ng-template" id="/healthcare.html">
		            <% include partials/_posts %>
			</script>
		    <script type="text/ng-template" id="/climatechange.html">
		            <% include partials/_posts %>
			</script>
			<script type="text/ng-template" id="/foreignpolicy.html">
		            <% include partials/_posts %>
			</script>
		    <script type="text/ng-template" id="/immigration.html">
		            <% include partials/_posts %>
			</script>
			<script type="text/ng-template" id="/taxes.html">
		            <% include partials/_posts %>
			</script>
		    <script type="text/ng-template" id="/abortion.html">
		            <% include partials/_posts %>
			</script>
			<script type="text/ng-template" id="/economics.html">
		            <% include partials/_posts %>
			</script>
		    <script type="text/ng-template" id="/guncontrol.html">
		            <% include partials/_posts %>
			</script>
		</div>
		
	</div>
  </body>

  <% include partials/_footerScripts %>
</html>
